.usernewitem-page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newitem-bg {
  background-color: var(--white);
  width: 700px;
  height: 500px;
}
.newitem-bg h1,
.newitem-bg h2 {
  padding-left: 32px;
  color: var(--light-brown);
}
.newitem-form span {
  color: grey;
}
.newitem-form {
  margin: auto 32px;
}
.newitem-form input {
  background-color: var(--light-grey);
  width: 315px;
  height: 45px;
  border-radius: 8px;
}
.add-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm-cancel-buttons {
  padding-top: 50px;

  display: grid;
  grid-template-columns: 3fr 0fr 1fr;
}
.confirm-button,
.cancel-button {
  height: 55px;
}
.confirm-button button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: var(--white);
  background-color: var(--light-green);
}
.confirm-button button:hover {
  transition: 0.2s;

  background-color: var(--dark-green);
}
.cancel-button button {
  cursor: pointer;
  background-color: var(--dark-green);
  color: var(--white);
  width: 100%;
  height: 100%;
}
