.usersettings-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.usersettings-page input {
  background-color: var(--light-grey);
  height: 40px;
  padding-left: 5px;

  border-radius: 8px;
}
.usersettings-page span {
  color: var(--light-brown);
  padding-top: 5px;
}
.usersettings-page h1 {
  color: var(--light-brown);
  padding: 20px 0px 0px 40px;
  font-size: 1.3rem;
  padding-bottom: 10px;
}
.settings-bg {
  border-radius: 8px;
  height: 780px;
  width: 669px;
  background-color: var(--white);
}

.updateuser-form {
  margin: auto 40px;
}
.updateuser-form {
  background-color: var(--light-gray);
}
.span-input-row {
  display: flex;
  flex-direction: column;
}
.span-input-col {
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
}
.button-update {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.button-update button {
  background-color: var(--light-green);
  color: var(--white);
  font-weight: bold;

  width: 100%;
  height: 50px;
  border-radius: 8px;
}

.button-update button:hover {
  cursor: pointer;
  background-color: var(--dark-green);
  transition: 0.2s;
}
.center-data h1 {
  padding: 100px 0px 0px 0px !important;

  padding-bottom: 10px !important;
}
.divider {
  width: 5px;
  height: 5px;
}
