.register{
    width: 100%;
    height: 70vh;
    background-color:#FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background-register{
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Ubuntu';
    color: #7A6B5E;
    padding-top: 20px;
}
.block{
    font-size: 12px;
    font-family: 'Ubuntu';
    padding-top: 10px;
}
.block select{
    background-color: #F0F0F5;
    width:100%;
    height:40px;
    border-radius: 10px;
}
.background-register h1{
    font-size: 30px;
}
.background-register h2{
    font-size: 20px;
}
.background-register input{
    background-color: #F0F0F5;
    width:100%;
    height:40px;
    border-radius: 10px;
}
.inline-block{
    padding-top: 30px;
}
.dual-block{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 50px;
}
.button-register{
    padding-top: 10px;

}
.button-register button{
    background-color:#71BA98;
    border-radius: 15px;
    height:40px;
    color: #fff;
    cursor: pointer;
    width: 100%;
}
.button-register button:hover{
    background-color: #339980;
}
@media screen and (max-width: 400px){
    .register{
        height: 60%;
    }
    .background-register h1{
        font-size: 20px;
    }
    .background-register h2{
        font-size: 15px;
    }
}
@media screen and (min-width: 1200px){
    .register{
        margin: 0 auto;
        width: 700px;
        height:800px;
    }
    form{
        height: 1000px;
    }
}