.register {
  width: 100%;
  height: 70vh;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-register {
  display: flex;
  width: 90%;
  height: 90%;
  flex-direction: column;
  margin: 0 auto;

  color: var(--light-brown);
  padding-top: 20px;
}
.block {
  font-size: 12px;

  padding-top: 10px;
}
.block select {
  background-color: var(--light-grey);
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.background-register h1 {
  font-size: 30px;
}
.background-register h2 {
  font-size: 20px;
}
.background-register input {
  background-color: var(--light-grey);
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.inline-block {
  padding-top: 30px;
}
.dual-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 50px;
}
.button-register {
  padding-top: 10px;
}
.button-register button {
  background-color: var(--light-green);
  border-radius: 15px;
  height: 40px;
  color: var(--white);
  cursor: pointer;
  width: 100%;
}
.button-register button:hover {
  background-color: var(--dark-green);
}
@media screen and (max-width: 400px) {
  .register {
    height: 60%;
  }
  .background-register h1 {
    font-size: 20px;
  }
  .background-register h2 {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .register {
    margin: 0 auto;
    width: 700px;
    height: 800px;
  }
  form {
    height: 1000px;
  }
}
