.sidebar-menu {
  position: fixed;
  left: 0;
  background-color: var(--white);
  width: 30px;
  height: 100%;
}
.sidebar-icons {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.sidebar-icons svg {
  margin-top: 10px;
}
.sidebar-icons svg:hover {
  border-left: 3px var(--light-green) solid;
  cursor: pointer;
  transition: 0.2s;
}
.bottom-icons {
  margin-top: auto;
}
.main {
  width: 100%;
  height: 100%;
  padding: 20px 0 0 20px;
}
.main h1 {
  color: var(--light-brown);
}
