*{
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.mid-about{
    padding-top: 50px;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2%;
    padding-bottom: 5%;
}
.mid-about h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    color: #7A6B5E ;
    text-align: justify;
}
.mid-about p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: black;
    text-align: justify;
}
.bottom{
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bottom img {
    width: 50px;
    height: 50px;
    filter: invert(99%) sepia(99%) saturate(99%) brightness(50%);
}


/* ----------- 0 - 450px ----------- */
@media screen 
  and (max-width: 455px){
    .top img{
        height: 400px;
    }
    .top .menu a button{
        font-size: 1rem;
    }
    .mid-about h1{
        font-size: 1.8rem;
        text-align: justify;
        word-break: keep-all
    }

  }
  /* ----------- 450 - 650px ----------- */
@media screen 
and (min-width: 456px) 
and (max-width: 659px){

}
@media screen 
  and (min-width: 660px)
  and (max-width: 950px){

  }
  /* ----------- 950px - 1200px ----------- */
@media screen 
and (min-width: 951px) 
and (max-width: 1200px){

}
@media screen and (min-width: 1201px){

    .top{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .top img{
        margin: 0;
        width: 40%;
        height: auto;
    }
    .top .menu{
            display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .mid-about h1{
        font-size: 4rem;
    }
    .mid-about p{
        font-size: 1.6rem;
    }
}