.admin-page {
  width: 100%;
  height: 100%;

  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  color: var(--light-brown);
  white-space: nowrap;
}
.cards-admin {
  height: 100%;
  width: 90%;
  border-radius: 8px;
  max-width: 820px;
}
.card-admin {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  margin-bottom: 15px;

  border: 2px solid rgba(0, 0, 0, 0.1);

  background-color: var(--white);
}
.photoReg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.photoReg img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.user-toconfirm {
  height: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
}
.admin-user-data {
  text-align: left;
  width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accept-user {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.accept-user button {
  cursor: pointer;
  height: 50px;
  width: 100px;

  background-color: var(--light-green);
  color: var(--white);
  border-radius: 8px;
}
.accept-user button:hover {
  background-color: var(--dark-green);
}
@media (max-width: 700px) {
  .cards-admin {
    height: 250px;
  }
  .card-admin {
    width: 100%;
    height: 100%;
    min-width: 320px;

    display: flex;
    flex-direction: column;
    background-color: var(--white);
  }
  .user-toconfirm {
    font-size: 12px;
    white-space: nowrap;
  }
}
