
.search-container{
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 0 auto;
    padding-bottom: 100px;
}
.input-button input{
    width: 80vw;
    height: 5vh;
    border-radius: 15px;
    overflow: visible;
    max-width: 800px;
}
.input-button button{
    background-color: #71BA98;
    height: 5vh;
    width: 60px;
    border-radius: 0px 15px 15px 0px;
    vertical-align: bottom;
    margin-left: -40px;
}

.input-button button:hover{
    background-color: #339980;
    cursor: pointer;
}
.input-button button img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(338deg) brightness(101%) contrast(101%);
    height: 5vh;
}
.results-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}
.results{
    background-color: #FFF;
    height: 200px;
    width: 85vw;
    border-radius: 10px;
    max-width: 820px;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;

}
.middle-align{
    display: flex;
    justify-content: center;
}
.img-container{
    display: flex;
    background: #F0F0F5;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;


}
.state-container{
    background-color: red;
    width: 75px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: #fff;
}
.description-container, .state-container p{
    font-family: 'Ubuntu';
}

